body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: auto;
  background-image: url('../images/hero1.jpg');
  background-attachment: fixed;
  background-size: cover;
}

a
{
  text-decoration: none;
  /*color:#276056;*/
  color: white;
}

.menu li
{

  color:white;
  font-size: 18px;
  display: inline;
  margin-left: 0;
  margin-right: 30px;
}

.menu ul {
  padding-top: 20px;
}

.sec1
{
  width: 960px;
  height: 50px;
  position: fixed;
  top: 0;
  margin-left: 195px;
  background-color: black;
}
.sec1 a
{
  color: white;
}

h1
{
  font-size: 38px;
  color: white;
}

h2
{
  color: white;
  margin-left: 286px;
}

.wrap
{
  /*background-color:white;*/
    background: linear-gradient(to right, rgba(211,211,211,0), rgba(211,211,211,1));
  margin:auto;
}

.wrap p
{
  color: white;
  margin-left: 34%;
}

sec2 h2
{
  font-size: 24px;
}

.square
{
  width: 300px;
  height: 300px;
}

#extra
{
  margin-right: 140px;
  padding: 30px;
}

.footer h3
{
  float: left;
  color: white;
}

.footer ul li
{
  float: right;
  display: inline;
}
